body {
  background-color: #eee;
  color: #3333;
}
#block {
}
.one {
}
.two {
}
.three {
}
.four {
}
.wrapper {
  width: 100%;
  max-width: 980px;
}
#block {
  display: flex;
  margin: 10px;
  justify-content: space-between;
}
#block div {
  flex: 0 0 100px;
  padding: 40px 0;
  text-align: center;
  background: #ccc;
}
.one {
  order: 0;
}
.one {
  order: 1;
}
.one {
  order: 2;
}
.one {
  order: 3;
}
