* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.mainNav {
  /* background-color: brown; */
  padding: 0px 100px;
}
.navContainer {
  /* border: 2px solid yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.flutterLogo {
  width: 150px;
  /* height: 200px; */
}
.navContainer ul {
  display: flex;
  gap: 30px;
  /* list-style-type: none; */
}
.navContainer ul li a {
  color: #262c55;
  font-size: 1.05rem;
  /* font-weight: 100; */
  cursor: pointer;
}
.signIn_btn {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}
.signIn_btn:hover {
  background-color: rgba(2, 2, 36, 0.836);
  transition: all 0.3s ease;
  color: white;
}
.nav-item {
  position: relative;
}

.nav-item .list1 {
  display: none;
  position: absolute;
  width: 20vw;
  height: 31vh;
  background-color: rgb(239, 239, 214);
  left: -45px;
  border-radius: 10px;
}
.subPayment {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 25px 0px 0px 20px;
  box-shadow: #262c55;
}
.subPayment {
  font-size: 20px;
}
.subPayment ul {
  line-height: 1.4;
}

.payment_description {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.nav-item:hover div {
  display: flex;
  flex-direction: column;
}

.nav-item .commerce {
  display: none;
  width: 20vw;
  height: 31vh;
  background-color: rgb(239, 239, 214);
  left: -45px;
  border-radius: 10px;
  position: absolute;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background-color: aqua;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:904px){
   
}

/* .list1:hover {
  display: block;
  background-color: #000;
  color: #000;
} */
/* <div class="circle"></div> */
